html,
body {
	background-color: #31373f!important;
}
#root {
	width: 100%;
	color: white;
	font-family: Verdana;
	background-color: #31373f;
	.contentSection {
		position: relative;
		width: 90%;
		height: 100%;
		height: auto;
		margin: auto;
		margin-top: 2rem;
		margin-bottom: 3rem;
	}
}
