html,
body {
	background-color: #31373f !important;
	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #746f6f;
		border-radius: 6px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #212529;
		border-radius: 6px;
	}
}
#root {
	width: 100%;
	color: white;
	font-family: Verdana;
	background-color: #31373f;
	.contentSection {
		position: relative;
		width: 90%;
		height: 100%;
		height: auto;
		margin: auto;
		margin-top: 6rem;
		margin-bottom: 3rem;
		max-width: 1920px;
	}
}
.modal-content {
	border-radius: 12px !important;
	background: #2d3238 !important;
	.modal-body {
		color: white;
		text-align: center;
		background: #2d3238;
		border-radius: 8px;
		button {
			width: 30%;
		}
	}
}
@media screen and (max-width: 870px) {
	body {
		// position: absolute;
	}
	#root {
		.contentSection {
			position: relative;
			width: 97%;
			margin-top: 1rem;
		}
	}
}
