#root {
	width: 80%;
	margin: auto;
	margin-top: 2%;
	.initialSpiner {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-direction: column;
		.initialHeader {
			font-size: 2rem;
			color: #393c5a;
			text-align: center;
			text-shadow: 0 0 3px #ff0000;
		}
	}
	.navigationLinks {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #343a40;

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		// li a:hover {
		// 	background-color: #111;
		// }
		.is-active {
			background: #111;
		}
	}
}
