.header {
	width: 100%;
	font-size: 1.2rem;
	position: relative;
	.logo {
		position: absolute;
		left: 1%;
		background: url('../../assets/trussinvLogo.png');
		background-size: contain;
		width: 10%;
		background-repeat: no-repeat;
		height: 100%;
		background-position: center;
		a {
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}
	.navigationLinks {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #1c2026;
		display: flex;
		justify-content: center;

		li {
			float: left;
			position: relative;
			margin-left: 1%;
			margin-right: 1%;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 15px 26px;
			text-decoration: none;
			&:after {
				content: '';
				display: block;
				width: 0;
				position: absolute;
				top: 95%;
				height: 2px;
				background: #0077ff;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				transition: all 0.5s ease;
				left: 50%; /*Add this*/
				transform: translate(-50%, 0); /*Add this*/
			}
			&:hover:after {
				width: 100%;
				-webkit-transition: all 0.8s ease;
				-moz-transition: all 0.8s ease;
				transition: all 0.8s ease;
			}
		}
		.is-active {
			&:after {
				content: '';
				display: block;
				width: 100%;
				position: absolute;
				top: 95%;
				height: 2px;
				background: #0077ff;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				transition: all 0.5s ease;
				left: 50%; /*Add this*/
				transform: translate(-50%, 0); /*Add this*/
			}
		}
	}
}
.headerMobile {
	width: 100%;
	font-size: 0.7rem;
	position: relative;
	.navbar {
		justify-content: flex-end !important;
		background: #1c2026;
	}
	.logo {
		position: absolute;
		left: 1%;
		background: url('../../assets/trussinvLogo.png');
		background-size: contain;
		width: 20%;
		background-repeat: no-repeat;
		height: 100%;
		background-position: center;
		a {
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}
	.mobileNavigationWrapper {
		display: none;
		&.visible {
			display: block;
			border-top: 1px solid #e27c42;
		}
		.navigationLinks {
			list-style-type: none;
			overflow: hidden;
			background-color: #1c2026;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 90%;
			margin: auto;
			padding: 0;
			border-radius: 4px;
			li {
				display: flex;
				justify-content: center;
			}
			li a {
				display: block;
				color: white;
				text-align: center;
				padding: 15px 26px;
				text-decoration: none;
				position: relative;
				&:after {
					content: '';
					display: block;
					width: 0;
					position: absolute;
					top: 95%;
					height: 1px;
					background: #e27c42;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					transition: all 0.5s ease;
					left: 50%; /*Add this*/
					transform: translate(-50%, 0); /*Add this*/
				}
				&:hover:after {
					width: 100%;
					-webkit-transition: all 0.8s ease;
					-moz-transition: all 0.8s ease;
					transition: all 0.8s ease;
				}
			}
			.is-active {
				background: #1c2026;
				&:after {
					content: '';
					display: block;
					width: 100%;
					position: absolute;
					top: 95%;
					height: 1px;
					background: #e27c42;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					transition: all 0.5s ease;
					left: 50%; /*Add this*/
					transform: translate(-50%, 0); /*Add this*/
				}
			}
		}
	}
}
