.setUpAddStrategyTable {
	th,
	td {
		padding: 14px;
		border: 1px solid #3c3c3c;
		text-transform: capitalize;
	}
	.tableDateCentered {
		text-align: center;
	}
}
.liveOrdersTable {
	max-height: 30rem;
	overflow-y: auto;
	position: relative;
	.stickyHeader {
		position: sticky;
		top: 0;
	}
	.stickyColl{
		position: sticky;
		top: 9%;
	}
}
@media screen and (max-width: 1140px) {
	.setUpAddStrategyTable {
		overflow-x: scroll;
	}
}
