.strategyWrapper {
	border: 2px solid silver;
	margin: 1rem;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	box-shadow: 1px 1px 12px 11px rgba(0, 0, 0, 0.7);
	margin: 6rem;

	.singleStrategyParameter {
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
		position: relative;
		.strategyHeader {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.5rem;
			display: flex;
			justify-content: space-between;
			.strategyAdditionlInfo {
				position: absolute;
				right: 0;
			}
		}
		.strategyParametersWrapper {
			margin-left: 2rem;
			.strategyParameterName {
			}
			.strategyParameterValue {
			}
		}
		.updateParamertersButton {
			width: 34%;
			margin-left: 2rem;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}
	.editableWrapper {
		margin-top: 2rem;
		position: relative;
		font-size: 1.5rem;
		margin-left: 2rem;
		.header {
			font-size: 2rem;
			font-weight: bold;
		}
		button {
			float: right;
			top: 0;
		}
	}
}
