.setUpAddStrategyTable {
	table {
		background: #212529;
		color: white;
		font-size: 0.8rem;
		border-spacing: 0;
		border-collapse: collapse;
		border-style: hidden;

		width: 100%;
		max-width: 100%;
	
	}

	th,
	td {
		padding: 10px;
		border: 1px solid #3c3c3c;
		text-transform: capitalize;
	}
	.tableHeaderColor {
		background: #1c2026;
		cursor: pointer;
		img {
			&:hover {
				animation: scaleUp;
				animation-duration: 0.5s;
				@keyframes scaleUp {
					0% {
						transform: scale(1);
					}
					50% {
						transform: scale(1.2);
					}
					100% {
						transform: scale(1);
					}
				}
			}
		}
	}
	.tableData {
		cursor: pointer;
	}
	.activeRow {
		background: #383d44;
	}
	input {
		background: #1c2026;
		border: 1px solid #3c3c3c;
		color: WHITE;
		padding: 0.3em 1.4em 0.4em 0.9em;
		width: -webkit-fill-available;
		&:hover {
			background-color: #242830;
			border-color: #6d6d6d;
		}
	}
	.paginationWrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
	}
	.buttonsActionsWrapper {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 10px;
		grid-auto-rows: minmax(auto, auto);
		margin-top: 2rem;
		.linkButton {
			display: flex;
			padding: 0;
			justify-content: center;
			align-items: center;
			vertical-align: middle;
			a {
				display: flex;
				flex: 1;
				justify-content: center;
				padding: 4%;
			}
		}
	}
}
@media screen and (max-width: 730px) {
	.setUpAddStrategyTable {
		overflow-x: scroll;
		table {
			font-size: 0.5rem;
		}
		.buttonsActionsWrapper{
			margin-bottom: 1rem;
		}
	}
}
